table {
  margin: 15px auto 0;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.show-selected_btn {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
}